
* {
    box-sizing: border-box;
}
body {
    font-family: 'Mulish', sans-serif;
    padding-top: 54px;
    color: #868e96;
  }

html {
    font-size: 10px;
    scroll-behavior: smooth;
}
h1,
h2,
h3 {
    display: inline;
}

#navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 20%;
    height: 100vh;
    padding: 30px;
    background-color: aliceblue;
    background-color: #bd5d38;
}

#profile-pic {
    border-radius: 50%;
    width: 100%;
    height: auto;
    border: 10px solid #c17a59;
}

.nav-link , .nav-link-button{
    padding: 10px 20px 10px 20px;
    color: #d7d7d7;
    align-self: center;
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
}
.nav-link-button {
    background-color: transparent;
    border: none;
    align-self: flex-end;
}
.nav-link:hover {
    opacity: 0.7;
}
.nav-link-button:hover {
    opacity: 0.7;
}
#welcome-section , #projects , #experiences{
    padding: 100px 30px 30px 25%;
    height: 100vh;
    line-height: normal;
    width: 100vw;
}
.section-title {
    display: block;
    font-size: 3rem;
    text-transform: uppercase;
    color: #343a40;
}
#name {
    text-transform: uppercase;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-weight: 700;
    font-size: 10rem;
    color: #343a40;
    display: inline;
}
#sir-name {
    color: #bd5d38;
}
#email {
    text-transform: uppercase;
    color: #bd5d38;
    font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-size: 3rem;
    font-weight: 500;
}
#about {
    margin-top: 50px;
}
#about , .project-description , .experience-description {
    font-size: 2rem;
}
.project-description , .experience-description {
    width: 70%;
}
#profile-links-section {
    margin-top: 50px;
}
.profile-link {
    font-size: 1.5rem;
    padding: 20px;
    color: #343a40;
}
.project-title , .experience-title{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #343a40;
}
.company-name {
    text-transform: uppercase;
    font-size: 2.5rem;
    color: #343a40;

}
.date {
    color: #bd5d38;
    font-size: 1.5rem;
}
.name-date-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width:800px) {
    #navbar {
        width: 100vw;
        height: auto;
        flex-direction: column;
    }
    .profile-link {
        font-size: 1rem;
    }
    .nav-link , #profile-pic{
        display: none;
    }
    #welcome-section , #projects , #experiences{
        padding: 100px 30px 30px 30px;
    }
    #name {
        font-size: 8rem;
    }
}
@media only screen and (min-width:800px) {
    .nav-link-button {
        display: none;
    }
    .nav-link {
        display: block !important;
    }
   
}