
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

#navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 20%;
    height: 100vh;
    padding: 30px;
    background-color: aliceblue;
    background-color: #bd5d38;
}

#profile-pic {
    border-radius: 50%;
    width: 100%;
    height: auto;
    border: 10px solid #c17a59;
}

.nav-link , .nav-link-button{
    padding: 10px 20px 10px 20px;
    color: #d7d7d7;
    align-self: center;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}
.nav-link-button {
    background-color: transparent;
    border: none;
    align-self: flex-end;
}
.nav-link:hover {
    opacity: 0.7;
}
.nav-link-button:hover {
    opacity: 0.7;
}
#welcome-section , #projects {
    padding: 100px 30px 30px 25%;
    height: 100vh;
    line-height: normal;
    width: 100vw;
}
#name {
    text-transform: uppercase;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-weight: normal;
    font-size: 100px;
    color: #343a40;
    display: inline;
}
#sir-name {
    color: #bd5d38;
}
#email {
    text-transform: uppercase;
    color: #bd5d38;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
}
#about , .project-description {
    margin-top: 50px;
    color: grey;
    font-size: 20px;
}
#profile-links-section {
    margin-top: 50px;
}
.profile-link {
    font-size: 15px;
    padding: 20px;
    color: #343a40;
}
.project-title {
    text-transform: uppercase;
}

@media only screen and (max-width:800px) {
    #navbar {
        width: 100vw;
        height: auto;
        flex-direction: column;

    }
    .profile-link {
        font-size: 10px;
    }
    .nav-link , #profile-pic{
        display: none;
    }
    #welcome-section , #projects {
        padding: 100px 30px 30px 30px;
    }
}
@media only screen and (min-width:800px) {
    .nav-link-button {
        display: none;
    }
    .nav-link {
        display: block !important;
    }
   
}